<form [formGroup]="form" (ngSubmit)="onSubmit()">

  <div class="form-group">
    <div class="form-check form-check-inline">
      <label class="form-check-label">
        <input
          class="form-check-input"
          type="radio"
          name="inputIsRequired"
          [value]="true"
          formControlName="inputIsRequired" /> required
      </label>
    </div>

    <div class="form-check form-check-inline">
      <label class="form-check-label">
        <input
          class="form-check-input"
          type="radio"
          name="inputIsRequired"
          [value]="false"
          formControlName="inputIsRequired" /> optional
      </label>
    </div>
  </div>

  <div class="form-group">
    <input
      type="text"
      class="form-control"
      formControlName="input"
      [required]="form.value.inputIsRequired"
      [ngClass]="{ 'is-invalid': !form.controls.input.valid }"
      #foo />

      <div class="invalid-feedback" *ngIf="foo.errors?.required">required</div>
      <div class="invalid-feedback" *ngIf="foo.errors?.minlength">at least 5 characters</div>
  </div>

  <button class="btn btn-primary">Submit</button>

  <div class="mt-5">
    <strong>form is valid</strong>
    <pre>{{ form.valid | json }}</pre>

    <strong>form values</strong>
    <pre>{{ form.value | json }}</pre>

    <strong>form input errors</strong>
    <pre>{{ form.controls.input.errors | json }}</pre>
  </div>

</form>
